.container {
    height: 90vh;
}

.palette {
    height: 15%;
    display: flex;
}

.color-swatch {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
}

.color-swatch-name {
    color: #000;
    width: 5%;
    height: 100%;
    background: #ffffff;
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.color-name {
    font-weight: 600 !important;
    color: #fff;
    margin-left: auto !important;
    margin-right: auto !important;
}