.container {
    height: 90vh;
}

.palette {
    height: 15%;
    display: flex;
    margin-bottom: 0.5em;
}

.color-swatch {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
}

.color-swatch-name {
    color: #595555;
    width: 5%;
    height: 100%;
    background: #ffffff;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-weight: bold;
    font-size: 1.1em;
}

.color-name {
    font-weight: 600 !important;
    color: #fff;
    margin-left: auto !important;
    margin-right: auto !important;
}

.prompt-box {
    border: 2px solid #000 !important;
    border-radius: 0 !important;
    padding: 1em 2em;
    height: 10em;
    margin: 1em 0em;
}

.go-button {
    border-radius: 0 !important;
    background: #4b4b4b !important;
    color: #fff !important;
    font-weight: 700 !important;
}

.title {
    position: absolute;
    left: 2em;
    color: #4b4b4b;
}