.container {
    height: 90vh;
}

.palette {
    height: 15%;
    display: flex;
}

.color-swatch {
    height: 100%;
    width: 90%;
}

.color-swatch-name {
    color: #000;
    width: 10%;
    height: 100%;
    background: #fff;
    border: 0.1em solid lightgrey;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}